@import url("https://fonts.googleapis.com/css2?family=Allura&family=Caveat:wght@400;500&family=Marck+Script&family=Meddon&display=swap");
.nav-tabs {
  background: #e9ecef;
}

.custom-radio {
  margin-bottom: 10px;
  margin-right: 100px;
  padding: 20px;
}

.custom-radio input {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.radio-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.signatureImg {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.signPreview {
  width: 500px;
  background: #f5f5f5;
  height: 200px;
  border: 1px solid;
}

.radio-circle.selected {
  background-color: #007bff; /* Change the background color when selected */
}
/* FontSelector.css */
.font-selector-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.input-text {
  outline: none;
  display: flex;
  width: 70%;
  padding: 4px;
  padding-top: 14px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #848c9a;
  resize: none;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.input-text:focus-visible {
  border: 1px solid #4636e3;
  border-bottom: 1px solid #848c9a;
}
.Allura {
  font-family: "Allura", cursive;
}

.Caveat {
  font-family: Caveat;
}

.MarckScript{
  font-family: 'Marck Script', cursive;
}

.Meddon {
  font-family: 'Meddon', cursive;
}

.radio-buttons {
  display: flex;
  gap: 10px;
}

.sigCanvas {
  border: 2px dotted gray;
}
/* Add more font styles as needed */

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.clear-signature {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #2b1cc1;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.modal-body {
  padding: 0px !important;
}

.radio-box-row {
  min-height: 100px;
}
.radio-box-col {
  display: flex !important;
  align-items: center;
  border: 1px solid #d8dfeb;
  border-left: none;
  background-color: #f0f3f9;
}
.radio-box-col:hover {
  background-color: transparent;
}

.col-label {
  font-size: 32px;
  font-weight: 800;
}

.col-radio {
  width: 20px;
  height: 20px;
}

.black {
  color: black;
}

.green {
  color: green;
}

.red {
  color: red;
}

.signature-canvas {
 margin-bottom: 50px; 
}